In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import explore
from env import host, username, password
import acquire
import prepare

In [2]:
# test the acquire function

In [3]:
# Get connection url using get_connection function from acquire
url = acquire.get_connection('telco_churn')

In [4]:
# Acquire Telco data from Codeup SQL database using acquire.telco_data function
telco_df = acquire.telco_data()

In [5]:
telco_df

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,3,0016-QLJIS,Female,0,Yes,Yes,65,Yes,...,Yes,Yes,Yes,Yes,90.45,5957.9,No,Two year,DSL,Mailed check
1,4,1,3,0017-DINOC,Male,0,No,No,54,No,...,Yes,Yes,No,No,45.20,2460.55,No,Two year,DSL,Credit card (automatic)
2,3,1,3,0019-GFNTW,Female,0,No,No,56,No,...,Yes,No,No,No,45.05,2560.1,No,Two year,DSL,Bank transfer (automatic)
3,4,1,3,0056-EPFBG,Male,0,Yes,Yes,20,No,...,Yes,No,No,Yes,39.40,825.4,No,Two year,DSL,Credit card (automatic)
4,3,1,3,0078-XZMHT,Male,0,Yes,No,72,Yes,...,Yes,Yes,Yes,Yes,85.15,6316.2,No,Two year,DSL,Bank transfer (automatic)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,3,1,9962-BFPDU,Female,0,Yes,Yes,1,Yes,...,No internet service,No internet service,No internet service,No,20.05,20.05,No,Month-to-month,None,Mailed check
7039,2,3,1,9967-ATRFS,Female,0,No,No,19,Yes,...,No internet service,No internet service,No internet service,No,19.90,367.55,No,Month-to-month,None,Mailed check
7040,4,3,1,9970-QBCDA,Female,0,No,No,6,Yes,...,No internet service,No internet service,No internet service,No,19.70,129.55,No,Month-to-month,None,Credit card (automatic)
7041,2,3,1,9975-SKRNR,Male,0,No,No,1,Yes,...,No internet service,No internet service,No internet service,No,18.90,18.9,No,Month-to-month,None,Mailed check
7042,3,3,1,9986-BONCE,Female,0,No,No,4,Yes,...,No internet service,No internet service,No internet service,No,20.95,85.5,Yes,Month-to-month,None,Bank transfer (automatic)

In [6]:
# test the prepare_df function

In [13]:
prep_df = prepare.prep_df(telco_df)
prep_df

,payment_type_id,internet_service_type_id,contract_type_id,is_male,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn
0,2,1,3,0,0,1,1,65,1,1,1,1,1,1,1,1,1,90.45,5957.90,0
1,4,1,3,1,0,0,0,54,0,0,1,0,0,1,1,0,0,45.20,2460.55,0
2,3,1,3,0,0,0,0,56,0,0,1,1,1,1,0,0,0,45.05,2560.10,0
3,4,1,3,1,0,1,1,20,0,0,1,0,1,1,0,0,1,39.40,825.40,0
4,3,1,3,1,0,1,0,72,1,1,0,1,1,1,1,1,1,85.15,6316.20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,3,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0,20.05,20.05,0
7039,2,3,1,0,0,0,0,19,1,0,0,0,0,0,0,0,0,19.90,367.55,0
7040,4,3,1,0,0,0,0,6,1,0,0,0,0,0,0,0,0,19.70,129.55,0
7041,2,3,1,1,0,0,0,1,1,0,0,0,0,0,0,0,0,18.90,18.90,0
7042,3,3,1,0,0,0,0,4,1,0,0,0,0,0,0,0,0,20.95,85.50,1

In [8]:
# compare value counts vs rough draft notebook
columns = ['tenure', 'monthly_charges', 'payment_type_id', 'internet_service_type_id', 'contract_type_id', 'senior_citizen', 'is_male', 'partner', 'dependents', 'phone_service', 'multiple_lines', 'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 'paperless_billing', 'total_charges', 'churn']
for col in columns:
    print(prep_df[col].value_counts())
    print('**********************')

1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64
**********************
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
56.85      1
92.65      1
109.85     1
35.70      1
61.95      1
Name: monthly_charges, Length: 1585, dtype: int64
**********************
1    2365
2    1612
3    1544
4    1522
Name: payment_type_id, dtype: int64
**********************
2    3096
1    2421
3    1526
Name: internet_service_type_id, dtype: int64
**********************
1    3875
3    1695
2    1473
Name: contract_type_id, dtype: int64
**********************
0    5901
1    1142
Name: senior_citizen, dtype: int64
**********************
1    3555
0    3488
Name: is_male, dtype: int64
**********************
0    3641
1    3402
Name: partner, dtype: int64
**********************
0    4933
1    2110
Name: dependents, dtype: int64
**********************
1    6361
0     682
Name: phone_service, dtype: int64
**********************
0    4072
1    2971
Name: multiple_lines, dtype: int64
**********************
0    5024
1    2019
Name: online_security, dtype: int64
**********************
0    4614
1    2429
Name: online_backup, dtype: int64
**********************
0    4621
1    2422
Name: device_protection, dtype: int64
**********************
0    4999
1    2044
Name: tech_support, dtype: int64
**********************
0    4336
1    2707
Name: streaming_tv, dtype: int64
**********************
0    4311
1    2732
Name: streaming_movies, dtype: int64
**********************
1    4171
0    2872
Name: paperless_billing, dtype: int64
**********************
0.00       11
20.20      11
19.75       9
20.05       8
19.65       8
           ..
344.20      1
2766.40     1
96.05       1
1588.75     1
1151.55     1
Name: total_charges, Length: 6531, dtype: int64
**********************
0    5174
1    1869
Name: churn, dtype: int64
**********************

In [9]:
# import splitting and imputing functions
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# turn off pink boxes for demo
import warnings
warnings.filterwarnings("ignore")

# import our own modules
import acquire
import prepare

In [17]:
# Run function to take in prep_data from Telco and split   
train, validate, test = prepare.telco_split(prep_df)

In [15]:
# validate the split

print(f'train -> {train.shape}')
print(f'validate -> {validate.shape}')
print(f'test -> {test.shape}')

train -> (3943, 20)
validate -> (1691, 20)
test -> (1409, 20)